<div>
  <h1>Title: <%= @post.title %></h1>
  <h4>Author: <%= @post.user.email %></h4>
  <p><%= @post.content %></p>
  <%= button_to "Delete Post", { controller: :posts, action: 'destroy', id: @post.id }, method: :delete %>
  <p>
    Comments:
  </p>
  <ul>
    <% @post.comments.each do |comment| %>
      <ol>
        <li><%= comment.content %> </li>
        <% if comment.user == current_user %>
          <%= button_to "x", { controller: :comments, action: 'destroy', id: comment.id, comment: { post_id: @post.id } }, method: :delete %>
        <% end %>
      </ol>
    <% end %>
  </ul>
  <%= form_for @comment do |f| %>
    <%= f.label :content %>
    <%= f.text_area :content %>
    <%= f.hidden_field(:post_id) %>
    <%= f.submit %>
  <% end %>
</div>
